.navbar{
    background-color: brown !important;
}
.navbar img{
    max-width: 15%;
    margin: 0 4%;
}
ul li a{
    font-family: sans-serif;
    color: white;
    transition: 1s;
}
ul li a:hover{
    color: black;
    cursor: pointer;
}