<nav>
    <div class="navbar">
        <div class="nav-img">
            <img src="../../assets/clipart2300051.png" alt="">
        </div>
        <ul>
            <a href=""><li>Home</li></a>
            <a routerLink="aboutmint"><li>About MINT</li></a>
            <a routerLink="ourcoffees"><li>Our Coffees</li></a>
            <a routerLink="blog"><li>Blog</li></a>
            <a routerLink="login"><li>Login</li></a>
        </ul>
        <button class="btn btn-warning">Subscribe Now</button>
    </div>
</nav>
