<nav>
    <div class="navbar">
        <div class="nav-img">
            <img src="../../assets/logo.png" alt="">
        </div>
        <ul>
            <li><a href="">Home</a></li>
            <li><a routerLink="aboutmint">About MINT</a></li>
            <li><a routerLink="ourcoffees">Our Coffees</a></li>
            <li><a routerLink="blog">Blog</a></li>
            <li> <a routerLink="login">Login</a></li>
        </ul>
        <button class="btn btn-warning">Subscribe Now</button>
    </div>
</nav>