<div class="banner">
    <div class="container">
        <div class="container-content" data-aos="slide-right">
            <h1>Awesome coffee beans Delivered <br>to your door.</h1>
            <p>Our vision is to connect you to the complete coffee experience. <br>from the best cooffe farms to
                excellence in
                the cup
            </p>
        </div>
    </div>
</div>

<div class="content" data-aos="slide-up">
    <img src="https://thumbs.dreamstime.com/b/stamp-coffee-text-natural-eps-40665416.jpg" alt="">
    <h1>Amazing coffees, Delivered to your door.</h1>
    <p>Our vision is to connect you to the complete coffee experience.from the best cooffe farms to <br>excellence in
        the
        cup
    </p>
    <button class="btn btn-warning">JOIN US <i class="fa-solid fa-arrow-right"></i></button>
</div>